@media print {
  html, body, page {
    width: 210mm;
    height: 297mm;
    margin: 0px !important;
    -webkit-print-margin:0px;
    -webkit-print-color-adjust:exact;
  }
}

@media print {
  .verticalBackground {
    background: #eeeeee !important;
    -webkit-print-color-adjust:exact;  
  }
  .titleBackground {
    background: #b3dff0 !important;
    -webkit-print-color-adjust:exact;  
  }
  .imageblock {
    background: #b3dff0 !important;
    -webkit-print-color-adjust:exact;  
  }
  .title-banner {
    background: #000000 !important;
    -webkit-print-color-adjust:exact;  
  }
  .work-title {
    background: #e5e5e5 !important;
    -webkit-print-color-adjust:exact;  
  }
  .companyAndTime {
    background: #b3dff0 !important;
    -webkit-print-color-adjust:exact;  
  }
  #firstName {
    color:white!important;
    -webkit-print-color-adjust:exact;  
  }
  #lastName {
    color:white !important;
    -webkit-print-color-adjust:exact;  
  }
}





@font-face {
  font-family:"BebasNeue Light";
  src: url('../fonts/BebasNeueLight.ttf') format("truetype");
}
@font-face {
  font-family:"BebasNeue Bold";
  src: url('../fonts/BebasNeueBold.ttf') format("truetype");
}
@font-face {
  font-family:"BebasNeue Book";
  src: url('../fonts/BebasNeueBook.ttf') format("truetype");
}
@font-face {
  font-family:"BebasNeue Regular";
  src: url('../fonts/BebasNeueRegular.ttf') format("truetype");
}@font-face {
  font-family:"BebasNeue Thin";
  src: url('../fonts/BebasNeueThin.ttf') format("truetype");
}




body {
  background: rgb(204,204,204); 
}

page {
  position: static;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top:0.1cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}


.titleBackground {
  position:absolute;
  height: 6.3cm;
  width:21cm;
  float: left;
  background: #e5e5e5;
  -webkit-clip-path: polygon(0 0,100% 0,100% 67%,0% 100%);
  -webkit-shape-margin: 20px;
}

.name {
  display:block;
  position: absolute;
  margin-left: 3cm;
  margin-top:1cm;
}

#firstName {
  position:absolute;
  display: inline-block;
  font-family: "BebasNeue Light";
  font-size: 80px;
  margin-top:15px;
  margin-right:15px;
  margin-bottom: -50px;
  color: #000000;
}

#lastName {
  position: absolute;
  display: inline-block;
  font-family: "BebasNeue Bold";
  font-size: 80px;
  margin-top:15px;
  margin-bottom:-50px;
  margin-left:250px;
  color: #000000;
}
#jobTitle {
  position: absolute;
  font-family: "BebasNeue Thin";
  color:#000000;
  font-size: 40px;
  width:330px;
  text-align: left;
  letter-spacing:5px;
  margin-top: 80px;
  margin-left:-5px;
}

#contact {
  position: absolute;
  margin-left: 14cm;
  margin-top: 0.7cm;
}

.info {
  display: table-row;
  height: 36px;
}

.icon {
  margin-top: 6px;
  height: 24px;
  margin-right:0.15cm;
}

#contact p {
  vertical-align: middle;
  display: table-cell;
  width:5cm;
  min-width: 5cm;
  height:24px;
  font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
  letter-spacing: -0.4px;
  font-size: 12px;
  line-height: 100%
}

#content-col {
  font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
  background-color:;
  position:absolute;
  height: 680px;
  width: 585px;
  margin-top: 300px;
  margin-left: 97px;
}

